---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Clarisse Mille" description="A propos de Clarisse Mille">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Découvrez mon parcours et mes compétences"
			>
				<img
					width="1553"
					height="873"
					src="/assets/About_Portfolio.png"
					alt="Clarisse Mille at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p> Titulaire d’une licence en sociologie, d'un M1 en sociologie du numérique et d’une formation RNCP de niveau 5 en Développement Web et Web Mobile, 
					je suis actuellement en M2 parcours Cultures et Métiers du Web à l'Université Gustave Eiffel, en alternance en tant qu'apprentie cheffe de projet web à la DGALN au Minisètre de la Transition Ecologique.  
					<br/> <br/>Dès Septembre 2024 dans le but d'acquérir davantage de compétences techniques, j'entamerai une formation en développement web React en 
					ligne avec comme rythme 4 jours en entreprise, 1 jour en formation. La formation OpenClassrooms assure un bon suivi de ses étudiants et les référents pédagogiques permettent de faire le lien entre l'étudiant et l'entreprise.  

					<br/>  <br/>D’une part, mon double cursus m’a amenée, de manière très pratique et opérationnelle, à développer des 
					compétences techniques (HTML, CSS, Javascript, Typescript, React, Symfony, Figma) que j’ai pu démontrer dans différents projets. <br/>
					D’autre part, ma formation en sciences sociales en contexte numérique m’a permis de réfléchir et de prendre du recul quant à la manière
					de structurer un site web, à partir des besoins et attentes des utilisateurs, pour mieux penser les logiques de conception et de 
					production qui doivent les accompagner.  </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>M1 Sociologie parcours transition numérique à l'Université de Pau et des Pays de L'adour</p>
					<p>Bac +2 (RNCP) Développeur Web et Web Mobile à la fabrique du numérique paloise.</p>
					<p>Septembre 2023 : Master Cultures et Métiers du Web à l'Université Gustave Eiffel en Seine-et-Marne. En alternance. </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Dev | HTML CSS Javascript Typescript React Symfony </p> <br />
					<p>Design | Wireframes Persona Figma Procreate </p>  <br />
					<p>Soft skills | Créative, Curieuse, Dynamique, Polyvalente </p>  <br />
					<p>Cheffe de projet web | Mise à jour de sites avec Drupal, Création d'un Extranet, Formations des agents à l'outil technique </p>  <br />
					
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
